/*Clase para eliminar margenes iternas*/
.no-padding{
    padding: 0 !important;
}

.margin-bn{
    margin-bottom: 20px;
}

.color-rojo:hover{
    color: #ff0000;
    cursor: pointer;
}

.col-md-4 span{
    border: 1px solid #00ff00 !important;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 50%;
}

.col-md-6 > div{
    border: 3px dotted #00ffff;
}

#alto{
    height: 100vh;
    background-color: #0f0f0f !important;
    color: #ffffff;
}

.col-md-4:hover{
    background-color: #0f0;
    transition: background-color 2s ease-in-out;
}

.col-md-4{
    transition: background-color 2s ease-in-out;
}

.col-md-4::before{
    content: 'XXX';
}

.col-md-4::after{
    content: 'YYY';
}